.card-row {
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .option {
    color: red;
  }

  .button {
    background-color: rgb(255, 155, 25);
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 5px;
    display: block;
    width: 80px;
    margin: 0 auto;
    height: 25px;
    font-size: 15px;
  }

  .button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }